@model MVC_Q1.Models.DetailModel
@using MVC_Q1.Models;
@{
    ViewBag.Title = "Check";
    DetailModel data = new DetailModel();
    data.Name = Model.Name;
    data.Phone = Model.Phone;
    data.Email = Model.Email;
}

<h2>Check</h2>
<div id="tableContainer">
    <table cellspacing="0" cellpadding="0" class="table03">
        <tr>
            <td> Name </td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td> Phone </td>
            <td>@Html.DisplayFor(model => model.Phone)</td>
        </tr>
        <tr>
            <td> Email </td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
    </table>
    <div class="button_area align_c">
        <button type="button" class="button02" onclick="location.href='@Url.Action("Save", "Data", data)'">Save</button>
    </div>
</div>
